@import 'tailwindcss';

:root {
  --dark: #272727;
  --deep-dark: #030303;
}

@theme inline {
  --color-dark: var(--dark);
  --color-deep-dark: var(--deep-dark);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  color: #ffffff;
}
